:root{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #0C111D;
  padding: 0 !important;
  margin: 0 !important;
  gap: 0 !important;
  transition: all 0.3s ease-in-out;
  font-style: normal;
}

body{
  background-color: rgb(237, 237, 237) !important;
}

/* 
*{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #0C111D;
  
  transition: all 0.3s ease-in-out;
  font-style: normal;
} */